.posterImg {
  width: 300px;
  border-radius: 10px;
}

.row {
  display: flex;
  gap: 20px;
  margin-bottom: 2rem;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.loading {
  flex-grow: 1;
  opacity: 0.5;
  font-size: 20px;
  text-align: center;
}

.overview {
  line-height: 2rem;
}

@media screen and (max-width: 500px) {
  .posterImg {
    width: 100%;
  }
  .row {
    flex-direction: column;
  }
}
