.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
}

.imgContainer {
  width: 300px;
  position: relative;
  & > span {
    position: unset !important;
    width: 300px !important;
  }
}

.row {
  display: flex;
  gap: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loading {
  flex-grow: 1;
  opacity: 0.5;
  font-size: 20px;
  text-align: center;
}

.overview {
  line-height: 32px;
  margin-top: 10px;
  font-size: 1.2rem;
  word-break: keep-all;
}

@media screen and (max-width: 500px) {
  .imgContainer {
    width: 100%;
    & > span {
      width: 100% !important;
    }
  }
  .row {
    flex-direction: column;
  }
}
