@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

:root {
  --vh: 100%;
  --hh: 100px;
}

* {
  box-sizing: border-box;
  font-family: Pretendard, sans-serif;
}

body {
  max-width: 520px;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  transition: all 0.2s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0;
}

img {
  object-fit: cover;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
